body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header input, header button {
    margin-left: 10px;
}

main {
    flex: 1;
    display: flex;
    background-color: #1e1e1e;
}